*{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}
.help{
  background-color: unset;
  border-radius: 100%;
  position: fixed;
  right: 10px;
  bottom: 40px;
  padding: 7px;
  width: 65px;
  height: 65px;


}.help img{
  width: 50px;
  height: 50px
}
